rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isOwner(userId);
      allow write: if false;

      match /{document=**} {
        allow read: if isOwner(userId);
        allow write: if false;
      }
    }

    match /publicUserIds/{publicId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
